<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<header>
			<% include header %>
		</header>
		<div class="container">
			<div class="voting-icon">
				<span class="glyphicon glyphicon-check"></span>
			</div>
			<p class="clementine-text">Voting App</p>
			<br/>
			<div class="btn-container">
				<a href="/auth/facebook">
					<div class="btn" id="login-btn">
						<img src="/public/img/facebook_29px.png" alt="facebook logo" />
						<p>LOGIN WITH FACEBOOK</p>
					</div>
				</div>
				</a>
			</div>
		</div>
	</body>
</html>
